@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
#mobile-nav,#mobile-menu{
    display: none;
}
@media screen and (max-width:600px) {
    #hero-image{
        display: none;
    }
    #desktop-nav{
        display: none;
    }
    #mobile-nav{
        display: block;
    }
}
